.env
myenv
node_modules
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
uploads/

# Virtual environments
venv/
env/
.env/

# Jupyter
.ipynb_checkpoints

# VSCode / PyCharm
.vscode/
.idea/

# Database files
instance/
backend/instance/

# Data processing outputs
data/processed/
backend/data/processed/
